//smartphones
* {
  overflow-x: hidden;
}
h1 {
  font-size: 1.5rem;
}
.btext {
  font-size: 1.7rem;
}
.ts1 {
  font-size: 1rem;
}
.burgerClicked {
  height: 50vh !important;
  ul {
    position: fixed;
    width: 100%;
    top: 10vh;
    background: black;
    height: 40vh;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 0;
    li {
      a {
        color: white;
      }
    }
  }
}
nav {
  border: none;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 0.5rem;
  height:13vh;
  #burger {
    display: flex;
  }
  ul {
    display: none;
  }
}

@media (orientation: portrait) {
  nav{
    align-items: center;
    height: 8vh;
  }
  }
#showcase {

  
  height: 100%;
  #showcase-content {

    padding-top: 20vh;
    height: 100vh;
    header {
    overflow: visible;

      h2{
        padding: 1rem 0;
      }
      p {
        width: 100%;
      }
      padding: 0 1rem;
    }
  }
}

#service {
  .container {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}

#ourmission {
  .container {
    flex-direction: column;
  }
}

#skills {
  .bars {
    grid-template-columns: 1fr;
    gap: 0;

    .bar {
      overflow: visible;
      .progress {
        width: 300px;
      }
    }
  }
}

#project {
  .container {
    #menu {
      align-self: center;
      display: flex;
    }

    .items {
      grid-template-columns: 1fr;
    }
    .item {
      overflow: hidden;
    }
  }
}

#pricing {
  .container {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}

#mix {
  .container {
    .items {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}

#squad {
  padding: 2rem 0;
  .container {
    .items {
      grid-template-columns: 1fr;
      gap: 10rem;
      overflow: visible;

      padding: 2rem 0;
      .item {
        overflow: visible;
      }
    }
  }
}

#clients {
  .container {
    .carousel-wrapper {
      .carousel {
        .carousel_item {
          margin: 0 15px;
          background: white;
          width: 275px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
#blogcards {
  .container {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}

#faq {
  .container {
    .questions {
      .question {
        .title {
          height: 75px;
          display: flex;
          justify-content: space-between;
          align-items: center !important;
          h2 {
            color: #6e6e6e;
            font-size: 1.1rem;
          }
        }
        p {
          line-height: 1.1;
          padding-left: 1.5rem;
          margin-left: 1rem;
          border-left: 1px dashed #9657fd;
          font-size: 0.9rem;
        }
      }
    }
  }
}

#contact {
  .container {
    .contact {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .left {
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        }
        .row {
          i {
            margin-right: 0.25rem;
          }
        }
      }
      .right{
        margin: 0;
      }
    }
  }
}

footer{
  .links{
    .container{
      flex-direction: column;
      p{
        font-size: 0.7rem;
        text-align: center;
      }
      ul{
        margin: 1rem 0;
        li{
          margin: 0 0.5rem;
        }
      }
    }
  }
}
