nav {
  padding: 1rem 0;
}

#showcase {
  height: 100%;
  #showcase-content {
    padding-top: 15vh;
    height: 100vh;
  }
}
#skills {
  .bars {
    grid-template-columns: 1fr 1fr;
  }
}

#squad {
  .container {
    padding: 2rem 0;
  }
}

#contact {
  .container {
    padding: 0 1rem;
  }
}

footer {
  .links {
    padding: 2rem 1rem;
  }
}
